*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(4, 1, 49, 0.89);
}
.contener{
    width: 50%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
}
header{
    height: 69px;
}
header>h1{
    font-size: 40px;
    color: #fff;
    line-height: 60px;
}
a{
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    font-size: 20px;
    line-height: 69px;
}
a:hover{
    color: chocolate;
    text-shadow: 0px 0px 5px coral;
    border-bottom: solid 1px coral;
    padding-bottom: 22px;
    transition: all 0.6s;
}
.haqida{
    display: flex;
    width: 100%;
    margin-top: 65px;
}
.men{
    width: 50%;
}
h3{
    color: #f5e6e6be;
    font-family: serif;
}
.men>h1{
    font-size: 55px;
    color: #fff;
    margin-top: 10px;
}
h2{
     color: #f5e6e6;
     margin-top: 7px;
}
p{
    color: #f5e6e6;
    font-size: 18px;
    margin-top: 16px;
}
.men>button{
    margin-top: 30px;
    padding: 12px 19px;
    border-radius: 5px;
    color: #f5e6e6;
    font-size: 16px;
}
.ra:hover{
    text-shadow: 0px 0px 5px #f5e6e6;
}
.ra{
    background-color: darkblue;
    
}
.co{
    background-color: rgba(4, 1, 49, 0.89);
}
h2{
    color: #f5e6e6;
    margin-top: 20px;
}
h4{
    color: #f5e6e6;
    margin-top: 7px;
}
img{
    width: 80px;
    height: 100px;
    border-radius: 35px;
}
.rasm{
   display: flex;
}
.malumot{
    background-color: #cac8c81f;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
}
.mal{
    margin-left: 20px;
}
h4{
    display: inline;
}
span{
    color: #f5e6e6;
}
.me{
    margin-top: 60px;
}
h1{
    color: #fff;
}
.skill{
    margin-top: 50px;
    width: 600px;
}
.n1{
    width: 600px;
    height: 20px;
    background-color: rgba(4, 1, 49, 0.308);
    border-radius: 15px;
}
.m1{
    width: 500px;
    height: 20px;
    background-color: rgba(0, 173, 253, 0.308);
    border-radius: 15px;
}
.bola{
    justify-content: space-between;
}
.bola>h3{
    display: inline;
}
.h3{
    margin-left: 500px;
}
.h4{
    margin-left: 525px;
}
.h5{
    margin-left: 460px;
}
#m2{
    width: 450px;
    height: 20px;
    background-color: rgb(32, 179, 76); 
    border-radius: 15px;
}
#m3{
     width: 300px;
    height: 20px;
    background-color: rgb(57, 58, 168); 
    border-radius: 15px;
}
.contact{
    display: flex;
    width: 100%;
}
.inp{
    background-color: #cac8c81f;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    height: 400px;
}
.bosh{
    background-color: #cac8c81f;
    width: 50%;
    padding: 20px;
    border-radius: 7px;
    height: 400px;
    margin-left: 25px;
}
label{
    color: #f5e6e6;
    font-size: 15px;
}
input{
   height: 35px;
   width: 400px;
    border-radius: 7px;
    background-color:  #cac8c86e;
    padding: 8px;
}
textarea{
    background-color:  #cac8c86e;
    border-radius: 10px;
    padding: 8px;
}
.inp>button{
    margin-top: 10px;
    padding: 12px 19px;
    border-radius: 8px;
    color: #f5e6e6;
    font-size: 16px;
    background-color: rgb(94, 141, 125);
}
.biglabel {
    width: 125px ;
    height: 125px;
}